html {
  /* background:linear-gradient(#fff,#46B29D); */
  /* background-repeat: no-repeat; */
  background-color: #403a3a;
}
body{
  /* background: url(../img/back.png);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  font-family: open sans;
}
a{
  display: block;
}
.wrapper {
  max-width: 60rem;
  width: 80%;
  margin: 1em auto;
}

/* ---------------------------------------Nav-Section--------------- */

.responsive-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

  /* display: none; */
}

#responsive-nav>li {
  text-align: center;
  flex-basis: 20%;
}

#responsive-nav>li>a {
  display: block;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 1.2em;
  color: #fff;
}

#responsive-nav>li>a:hover {
  border-bottom: 2px red solid;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.logo>a {
  color: #fff;
  text-decoration:none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo a .mydetails{
  text-transform: uppercase;
  /* border: 1px solid; */
  flex-grow: 1;

}
.logo a .mydetails .name{
  font-size: 1.2em;
  font-weight: bold;
}
.logo a .mydetails .position{
  font-size: .8em;

}
.logo>a>img {
  display: block;
  width: 6rem;


  /* border: 1px solid; */

}

/* toggle menu */

.nav-toggle {
  font-size: 2.2em;
  font-weight: bold;
  padding: .5em;
  cursor: pointer;
  display: none;
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
}

nav>ul {
  flex-grow: 1;
}
/* meddia======================================================== */


@media only screen and (max-width: 750px) {
  .responsive-nav {
    display:none;
    position: absolute;
    width: 100%;
    top: 4.5rem;
    border-radius: 10px;
  }
  .nav-toggle {
    display: block;
  }
  .logo {
    flex-basis: 100%;
  }
  .wrapper {
    max-width: 60rem;
    width: 95%;
  }
  nav{
    flex-wrap: wrap;

  }
  .show{
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.4);
  }
  .show>li{
    width: 100%;
  }

}
@media only screen and (max-width: 950px) {
#projects-page .project{
  flex-direction: column;
  align-items: center;
  text-align: center;
}
}
/* media end */
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhome======== */
#home-page{
  color: #fff;
  /* border: 1px solid; */

  /* border: 1px solid; */
}
#home-page h1{
  margin-top: 3em;
  font-size: 3em;
}
.link-button{
    margin-top: 2em;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    /* width: 40%; */
}
.link-button>a{
  display: block;
  color: #fff;
  text-decoration: none;
}
.box{
  padding: 1em;
border-radius: 10px;
  /* border: 1px solid; */
  /* flex-grow: 1; */
}
.boot-1{
  background-color: red;
  /* margin-right: px; */
}
.boot-2{
  background-color: #000;
}
.link-button>a>i{
  font-weight: bold;

}
/* project------------------------------------------------------- */
#projects-page{
  margin-top: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  color:#fff;
}
#projects-page .project{
  margin-bottom: 1em;
  display:flex;
  justify-content: space-between;
  /* border: 1px solid; */
  padding: 3em .5em;
  position: relative;
}
#projects-page .project .pr-img{
/* flex-basis: 50%; */
padding: 0;
/* border: 1px solid; */
flex-shrink: 0;

/* width: 300px; */
}
#projects-page .project .pr-img img{
  /* display: block; */
/* max-width: 100%; */
/* min-width: 100%; */

}
#projects-page .description{
  margin-left: 2em;
  flex-shrink: 1;
}
.tags-website>ul{
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.tags-website>ul>li{
    /* border: 1px solid; */
    padding: .4em;
    margin: 0.2em .5em;
    border-radius: 10px;
    background-color: red;

}

.project::before,
 .project::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    left: 1px;
    width: 100%;
    top: 10%;
    /* max-width: 400px; */
    -moz-box-shadow: 0 10px 10px red;
    box-shadow: 0 10px 10px red;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
/* flip +++++++++++++++++++++++++++++++++++++++++ +++++++++++++++++++++++++++flip*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
	width: 400px;
	height: 300px;
}
/* flip speed goes here */
.flipper {
	transition: 0.7s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background-color: pink;
  text-align: center;
}
.back>a{
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 25%;
}
.back>h2{
margin-top: 10%;
}
